* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.image-container {
  width: 400px;
}

.logo {
  width: 150px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0%;
  margin-top: 0%;
  margin-bottom: 0;
}

.list-item {
    display: inline-block;
    width: 300px;
    height: 200px;
    margin-top: 100px;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: rgb(238, 233, 233);
  background-color: #333;
}

.header-1 {
  display: block;

  background-color: rgb(25, 111, 173);
  text-align: center;
}

.footer {
  display: block;
  padding: 100px;
  background-color: darkcyan;
  text-align: center;
}
